* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}



.services,
.products,
.sign-up {

  height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.pages {
  background-color: #F7E1DA;
  background-size: cover;
  height: 200vh;
}

.home {
  background-color: #F7E1DA;
  background-size: cover;
  height: 100vh;

}

.homeHeader {
  color:black;
  font-size: 50px;
  text-align: center;
}

.buildersHeader {
  color: black;
  text-align:center;
}

.homeParagraph1 {
  color:black;
  font-size: 50px;
  text-align: center;
}

.homeButton {
  margin: auto;
  margin-left: 45%;
}

.backButton {
  margin-left: 10%;
}

.services {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sidebar_BG
{
  text-align: center;
  color: black;
  background-color: #5cbedb;
  /* align-content: left; */
  /* margin-left: 10%; */
  width: 100%;
  
}

.sidebar_BG container
{
  text-align: center;
  color: black;
  background-color: #5cbedb;
  /* align-content: left; */
  /* margin-left: 10%; */
  width: 100%;
  
}
/* .sidebar_row:hover{
  background-color: #F7DFF2;
} */

.sign-up {
  background-position: center;  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}


