.navbar-custom {
  background-color: #242221;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #e1e9fc;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: #e1e9fc;
}

/* change the color of active or hovered links */
.nav-item:hover a{
    background-color: #3A3736;
}

.nav-item:active {
  background-color: red;
}

.color-nav{
  background-color: #242221;
}